name: Run Tests

on:
  push:
    paths:
      - ".github/**"
      - "tests/**"
      - "bun.lockb"
      - "index.ts"
      - "package.json"
      - "tsconfig.json"
  pull_request:
    paths:
      - ".github/**"
      - "tests/**"
      - "bun.lockb"
      - "index.ts"
      - "package.json"
      - "tsconfig.json"
  workflow_dispatch:

jobs:
  Test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        bun-version: ["1.0", "1.1", "1.2", "1.3"]

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ matrix.bun-version }}

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Lint Source
        run: bun run check:ci

      - name: Run Tests
        run: bun run test
